.container > *{
    display: table-cell;
    box-shadow: 0 0 4px hsl(0, 0%, 15%);
    border-bottom: 1px groove hsl(0, 0%, 15%);
    border-right: 1px groove hsl(0, 0%, 15%);
    background-color: hsl(210, 3%, 15%);
}

.about{
    padding: 0 20px;
    width: 60%;

}
.about h1{
    font-size: 40px;
    text-align: center;
}
.about h1 span{
    color: hsl(217, 100%, 52%);
    text-shadow: 1px 1px hsl(0, 0%, 15%);
}
.description{
    margin-top: 40px;
}
.description p{
    font-size: 18px;
    text-align: justify;
}
.reg, .log{
    border-radius: 4px;
}
.reg h1, .log h1{
    font-size: 52px;
    color: hsl(217, 100%, 52%);
    text-shadow: 1px 1px hsl(0, 0%, 15%);
    background-color: hsl(223, 10%, 87%);
    border-bottom: 2px solid hsl(0, 0%, 55%);
    text-align: center;
    padding: 6px;

}
.from-container{
    padding: 6px 12px;
    background-color: hsl(210, 3%, 15%);
    text-align: center;
}
.log .from-container{
    padding-top: 40px;
}
.from-container h2{
    font-size: 30px;
    color: hsl(223, 10%, 87%);
    padding: 3px;
    margin-bottom: 16px;
}

.input-field{
    margin-bottom: 6px;
    text-align: center;
    width: 100%;
}
.input-field input{
    box-sizing: border-box;
    width: 90%;
    font-size: 20px;
    padding: 6px 8px;
    outline: 0;
    border: 0.5px solid hsl(0, 0%, 55%);
    color: hsl(0, 0%, 15%);
    background-color: hsl(223, 10%, 87%);
    box-shadow: 0.5px 0.5px hsl(0, 0%, 15%);
    transition: all 0.2s ease-out;
}
.input-field input:hover{
    background-color: hsl(0, 0%, 100%);
    transition: all 0.2s ease-in;
}
.input-field input:focus{
    background-color: hsl(0, 0%, 100%);
}

#lastname, #firstname{
    width: calc(45% - 2px);
}
.input-field input[type="submit"]{
    border: none;
    width: 80%;
    font-family: Impact;
    background-color: hsl(217, 100%, 52%);
}
.input-field input[type="submit"]:hover{
    background-color: hsl(217, 100%, 62%);
    box-shadow: 0.5px 0.5px hsl(0, 0%, 15%), 0 0 4px hsl(217, 100%, 62%);
}

p{
    padding: 6px 8px;
}

input.input-error {
    @apply bg-red-300 hover:bg-red-300;
}
