*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
::-webkit-scrollbar{
    background-color: hsl(0, 0%, 26%);
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: hsl(240, 1%, 40%);
    border-radius: 30px;
}

body{
    background-color: hsl(210, 4%, 10%);
    overflow-x: hidden;
}
h1, h2, h3, h4{
    text-shadow: 1px 1px 1px hsl(0, 0%, 2%);
}
ul a{
    color: hsl(217, 100%, 52%);
}
button:hover,
input[type='submit']:hover{
    cursor: pointer;
}
form input[type='submit']{
    font-size: 18px;
    color: hsl(223, 10%, 87%);
    background-color: hsl(217, 100%, 52%);
    box-sizing: content-box;
    width: 15%;
    font-family: Impact;
    height: calc(60px - 24px);
    padding: 12px 8px;
    border-radius: 0 30px 30px 0;
    transition: all 0.3s ease-out;
    &:hover{
        background-color: hsl(217, 100%, 57%);
        transition: all 0.3s ease-in;
    }
}

/*Header*/
header{
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 2;
}

header div{
    display: flex;
    align-items: center;
}

.left_header{
    background-color: hsl(210, 3%, 15%);
    height: 100%;
    width: 25%;
}
.left_header h1{
    font-size: 45px;
    color: hsl(217, 100%, 52%);
    margin: 0 12px;
}
.left_header input{
    outline: 0;
    font-size: 18px;
    padding: 12px;
    border: 0;
    width: 60%;
    box-shadow: 1px 1px 1px hsl(0, 0%, 2%);
    border-radius: 30px;
    color: hsl(223, 10%, 87%);
    background-color: hsl(210, 2%, 23%);
    transition: all 0.2s ease-out;

    &:hover, 
    &:focus{
        background-color: hsl(210, 1%, 31%);
        transition: all 0.2s ease-in;
    }
}

.left_header button{
    background-color: transparent;
    border: 0;
   
}

.left_header button i{
    margin: 0 8px;
    font-size: 25px;
    color: rgb(105, 105, 105);
    text-shadow: 1px 1px 1px hsl(0, 0%, 2%);;
    z-index: -1;
    
}

.middle_header{
    background-color: hsl(210, 3%, 15%);
    height: 100%;
    width: 50%;
}
.middle_header ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.middle_header ul li{
    height: 100%;
    font-size: 30px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-of-type{
        display: none;
    }
}

.middle_header ul li a{
    padding: 10px 35px;
    border-radius: 12px;
    transition: all 0.2s ease-out;
    color: hsl(214, 5%, 74%);
    &:hover{
        background-color: hsl(210, 1%, 31%);
        transition: all 0.2s ease-in;
    }
}
.middle_header ul li .active{
    border-bottom: 4px solid hsl(217, 100%, 52%);
    &:hover{
        background-color: transparent;
    }
}

.right_header{
    background-color: hsl(210, 3%, 15%);
    height: 100%;
    width: 25%;
    justify-content: right;
}

.right_header ul li{
    font-size: 20px;
    float: right;
    box-sizing: content-box;
}
.right_header ul li a{
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    background-color: hsl(210, 2%, 23%);
    transition: background-color 0.2s ease-out;
    &:hover{
        background-color: hsl(210, 1%, 31%);
        transition: background-color 0.2s ease-in;
    }
}
.right_header ul li .active{
    border: 2px solid hsl(217, 100%, 52%);
    &:hover{
        background-color: hsl(210, 2%, 23%);
        transition: none;
    }
}

/*Main*/
main{
    color: hsl(223, 10%, 87%);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: auto;
    min-height: calc(100vh - 60px);
    width: 100%;
    background-color: hsl(210, 4%, 10%);
    display: flex;
    transition: all 0.3s linear;

}
main aside{
    width: 40%;
}
main section{
    width: 60%;
    transform: translateX(calc(100%/3));
    transition: all 0.3s linear;
}
main section .posting-container{
    width: 90%;
    background-color: hsl(210, 3%, 15%);
    margin: 10px auto;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

/*Posting*/
.posting-container div{
    text-align: center;
    width: 50%;
    border-radius: 6px;
    padding: 12px 0 ;
    
    &:last-child{
        width: 100%;
    }
}

.posting-container div h3{
    transition: color 0.3s linear;
    &:hover{
        color: hsl(217, 100%, 57%);
        cursor: pointer;
    }
}


.input-container{
    width: 90%;
    display: none;
    margin: 0 20px;
}
.input-container div{
    height: 40px;
    display: flex;
    align-items: center;
}

.input-container input{
    height: calc(60px - 24px);
    box-sizing: content-box;
    width: calc(50% - 24px);
    outline: 0;
    width: 85%;
    border: none;
    border-radius: 30px 0 0 30px;
    padding: 12px 8px;
    font-size: 18px;
    color: hsl(223, 10%, 87%);
    background-color: hsl(210, 2%, 23%);
    transition: all 0.3s ease-out;
    &:hover,
    &:focus{
        background-color: hsl(210, 1%, 31%);
        transition: all 0.3s ease-in;
    }
}

/*Display posts*/
main section .posts table{
    margin: 15px auto;
    height: fit-content;
    max-height: 400px;
    max-width: 90%;
    width: 100%;
    height: 70%;
    border-spacing: 10px;
    border-radius: 12px;
    background-color: hsl(210, 3%, 15%);
}

main section .posts tr:first-of-type th{
    display: flex;
    align-items: center;

}

main section .posts th div{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: inline-block;
}
main section .posts th div img,
main section .posts td div img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
main section .posts th h2{
    padding: 6px 12px;
    display: inline-block;
}
main section .posts th img{
    width: 100%;
    border-radius: 6px;
}
main section .posts td{
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    padding: 10px 8px;
    width: 50%;
    transition: background-color 0.2s ease-out;
}
.reaction:hover,
.comment:hover{
    cursor: pointer;
    background-color: hsl(210, 1%, 31%);
    
    transition: background-color 0.2s ease-in;
}


/*View comments*/
.comments{
    display: none;
}
.comments ul{
    overflow-y: scroll;
    height: 240px;
   
}
.comments ul li{
    margin: 10px;
    text-align: justify;
    display: flex;
    align-items:start;
}
.comments ul li div{
    display: inline-block;
}
.comments ul li p{
    margin-left: 8px;
    background-color: hsl(210, 4%, 10%);
    padding: 10px 12px;
    border-radius: 32px;
    display: inline-block;
}

/*Make comments*/
.user-comment {
    height: fit-content;
    width: 80%;
    display: none;
}
.user-comment td form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.user-comment td div{
    width: 90%;
    height: 60px;
    display: flex;
}
.user-comment td div > *{
    border: none;
}
.user-comment td textarea{
    min-height: calc(60px - 32px);
    width: 85%;
    outline: 0;
    text-align: justify;
    font-size: 24px;
    padding: 16px 24px;
    border-radius: 30px 0 0 30px;
    color: hsl(223, 10%, 87%);
    background-color: hsl(210, 2%, 23%);
    transition: all 0.2s ease-out;
    resize:none;
    &:hover,
    &:focus{
        background-color: hsl(210, 1%, 31%);
        transition: all 0.2s ease-in;
    }
}




/*Messenger sidebar*/
.messenger{
    position: fixed;
    display: flex;
    background-color: hsl(210, 3%, 15%);
    width: 40%;
    height: calc(100vh - 60px);
    transform: translateX(100%);
    transition: all 0.3s linear;
}
.messenger .message-friends{
    height: 100%;
    width: 20%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
.messenger .message-friends li{
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-radius: 6px;

}
.messenger .message-friends .active{
    border-bottom: 4px solid hsl(217, 100%, 52%);
    z-index: 3;
}
.messenger .message-friends li div{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: hsl(217, 100%, 52%);
}
.messenger .message-friends li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.chat{
    width: 80%;
}
.chat .chat-heading{
    height: 10%;
    text-align: center;
    font-size: 32px;
    box-shadow: 0 2px 2px hsl(0, 0%, 2%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat .chat-messages{
    padding: 10px 2px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 75%;
    scrollbar-width: 20px;
    &::-webkit-scrollbar{
        display: none;
    }
}

.chat .recived-chat{
    background-color: hsl(0, 0%, 26%);
    margin: 6px 12px;
    margin-left: auto;
    width: fit-content;
    max-width: 60%;
    padding: 9px 15px;
    border-radius: 24px;
  
}
.chat .sent-chat{
    background-color: hsl(217, 100%, 52%);
    margin: 6px 12px;
    width: fit-content;
    max-width: 60%;
    padding: 9px 15px;
    border-radius: 24px;
}
.chat .user-input{
    width: 100%;
    height: 15%;
    padding: 10px;
}
.chat .user-input form{
    margin: auto;
    height: 24px;
    width: 90%;
    display: flex;
}
/*.chat .user-input form div{
    display: flex;
    width: 100%;
    height: 24px
}*/
.chat .user-input form textarea{
    outline: 0;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    font-size: 20px;
    height: 100%;
    width: 80%;
    padding: 12px 20px;
    border-radius: 30px 0 0 30px;
    color: hsl(223, 10%, 87%);
    border: none;
    background-color: hsl(210, 2%, 23%);
    transition: all 0.2s ease-out;
    resize:none;
}
.chat .user-input form input[type="submit"]{
    border: none;
    box-sizing: content-box;
    width: 20%;
    height: 100%;
}
/*Users sidebar*/
.users{
    height: calc(100vh - 60px);
    position:fixed;
    background-color: hsl(210, 3%, 15%);
    width: 40%;
    transform: translateX(100%);
    transition: all 0.3s linear;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    
}
.users table{
    width: 100%;
    border: none;

}
.users table tr{
    height: 100%;
    margin: 12px;
    box-shadow: 0 2px 2px hsl(0, 0%, 2%);
}
.users table tr td{
    width: 20%;
    padding: 8px 12px;
    height: calc(100% - 24px);
    text-align: center;
    &:nth-of-type(2){
        width: 50%;
    }
    &:last-of-type{
        width: 30%;
    }
}

.users table tr td img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.users table tr td button{
    color: hsl(223, 10%, 87%);
    background-color: hsl(217, 100%, 52%);
    font-family: Impact;
    font-size: 20px;
    padding: 12px 16px;
    height: 100%;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease-out;

    &:hover{
        background-color: hsl(217, 100%, 57%);
        transition: background-color 0.3s ease-in;
    }
}

/*Notifications sidebar*/
.notifications{
    position: fixed;
    background-color: hsl(210, 3%, 15%);
    width: 40%;
    height: 95%;
    transform: translateX(100%);
    transition: all 0.3s linear;
}

/*Profile sidebar*/
.profile-sidebar{
    position: fixed;
    right: 0;
    background-color: hsl(210, 3%, 15%);
    width: fit-content;
    height: fit-content;
    box-shadow: 0 1px hsl(0, 0%, 2%);
    transform: translateX(100%);
    transition: all 0.1s linear;
}
.profile-sidebar ul{
    float: right;
}
.profile-sidebar ul li{
    padding: 5px 10px;
}
.profile-sidebar ul li a{
    text-decoration: none;
    color: hsl(223, 10%, 87%);
}

.profile-sidebar ul li a:hover{
    color: hsl(217, 100%, 52%);
}


/*Profile*/
.profile-container{
    margin: auto;
    background-color: hsl(210, 3%, 15%);
    width: 90%;
    border-radius: 0 0 90px 90px;
    padding: 12px;
}
.profile-main{
    text-align: center;
    
}
.profile-main img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
.profile-container nav{
    margin: 12px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-container nav a{
    color: hsl(223, 10%, 87%);
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 20px;
    border-radius: 12px;
    transition: all 0.2s ease-out;
    &:hover{
        cursor: pointer;
        background-color: hsl(210, 1%, 31%);
        transition: all 0.2s ease-in;
    }
}
.profile-container nav .active{
    border-bottom: 4px solid hsl(217, 100%, 52%);
    &:hover{
        background-color: transparent;
    }
}

.noDisplay{
    display: none !important;
}
.about-user{
    display: none;
}

.friends,
.user-data{
    display: block;
    margin: 20px 0 20px 0;
}
.friends table,
.user-data table{
    width: 95%;
    margin: auto;
    background-color: hsl(210, 3%, 15%);
    border-radius: 12px;
    border-spacing: 5px 10px;
    padding: 10px;
}
.friends table tr,
.user-data table tr{
    width: 100%;
    box-shadow: 1.5px 1.5px 1px hsl(0, 0%, 2%);    
}
.friends table tr td button,
.user-data table tr td button{
    color: hsl(223, 10%, 87%);
    background-color: hsl(210, 4%, 10%);
    font-family: Impact;
    font-size: 20px;
    padding: 4px 8px;
    height: 100%;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease-out;

    &:hover{
        background-color: hsl(0, 100%, 40%);
        transition: background-color 0.3s ease-in;
    }
}
.user-data table tr td:nth-of-type(3) button:hover{
    background-color: hsl(100, 100%, 40%);
}
.friends table tr td{
    width: 30%;
    padding: 8px 12px;
    height: 60px;
    text-align: center;
    &:nth-of-type(2){
        width: 50%;
    }
    &:last-of-type{
        width: 20%;
    }
}
.friends table tr td img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user-data table tr td{
    width: 25%;
    padding: 8px 12px;
    height: 60px;
    &:nth-of-type(2){
        width: 45%;
    }
    &:nth-of-type(3),
    &:last-of-type{
        width: 15%;
    }
   
}

/*Selected item*/
.active{
    color: hsl(217, 100%, 52%) !important;
}

/*Show sidebar*/
.show{
    transform: translateX(0) !important;

}
.showNav{
    top: 60px !important;
}

.displayed{
    display: block;
}

@media(max-width:1200px){
    header{
        flex-wrap: wrap;
        z-index: 5;
    }
    .left_header{
        width: 40%;
        z-index: 4;
    }
    .left_header input{
        font-size: 16px;
        padding: 8px;
    }
    .middle_header{
        width: 60%;
        z-index: 4;
    }
    .middle_header ul{
        justify-content: space-around;
    }
    .middle_header ul li:last-of-type{
        display: flex;
    }
    .right_header{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -100;
        transition: all 0.3s linear;
    }
    .right_header ul{
        visibility: hidden;
        height: 100%;
        width: 100%;
        justify-content: center;  
    }
    .right_header ul li{

        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form input[type='submit']{
        font-size: 16px;
        
    }
    main section{
        position: static;
        height: auto;
        width: 100%;
        transform: translate(0);
    }
    main section .posts th h2,
    main section .posts td{
        font-size: 16px;
    }
   
    main aside{
        box-sizing: border-box;
        height: 100vh;
        width: 0%;
        position: fixed;
        right: 0;
        height: 110%;
        transition: all 0.3s linear;
        overflow: scroll;
    }
    .users{
        height: calc(100vh - 60px);
    }
    .messenger{
        height: calc(100vh - 60px);
    }
    .displayAside{
        width: 100%;
    }
    main aside > .messenger{
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 120px;
    }
   
    main aside > .notifications{
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        right: 0;
    }
    main aside > .users{
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        right: 0;
    }
}
@media(max-width:650px){
    header{
        width: 100%;
        height: 60px;
        display: flex;
        position: fixed;
        z-index: 2;
    }
    .left_header input{
        font-size: 14px;
        padding: 6px;
    }
    
    .left_header button i{
        margin: 0 8px;
        font-size: 15px;
    }
    .middle_header ul li a{
        padding: 10px 25px;
  
    }

    .right_header ul li{
        font-size: 12px;
    }
    .right_header ul li a{
        margin-right: 12px;
        width: 35px;
        height: 35px;
    }
    
}

@media(max-width:480px){
    header{
        height: 45px;
    }
    .left_header h1{
        font-size: 30px;
    }
    .left_header input{
        padding: 4px;
    }
    .left_header button i{
        margin: 0 4px;
        font-size: 12px;
    }

   
    .middle_header ul li{
        height: 100%;
        font-size: 18px;
      
    }
    .middle_header ul li a{
        padding: 10px 25px;
      
    }
    .right_header ul li{
        font-size: 9px;
    }
    .right_header ul li a{
        width: 30px;
        height: 30px;
    }
    .showNav{
        top: 40px !important;
    }
    
}


